@import "tailwindcss";

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #18181B;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #27272A;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3F3F46;
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #27272A #18181B;
  }